<!doctype html>
<head>
<title>Rock Paper Scissors Lizard Spock</title>
</head>

<body>

 <form method="POST" action="">
     What is your name? <input type="text" name="name">
     <input type="submit" name="submit" value="Submit">
 </form>

<p>&nbsp;</p>



<table style="margin-left: auto; margin-right: auto;" cellpadding="5">
<tbody>
<tr>
<td><a href={{ url_for('player_input', choice="rock") }}> rock </a></td>
<td><a href={{ url_for('player_input', choice="spock") }}> spock </a></td>
<td><a href={{ url_for('player_input', choice="paper") }}> paper </a></td>
<td><a href={{ url_for('player_input', choice="scissors") }}> scissors </a></td>
<td><a href={{ url_for('player_input', choice="lizard") }}> lizard</a></td>
</tr>
</tbody>
</table>



<table style="float: right; width: 121px;" cellpadding="5">
<tbody>
<tr>
<td style="width: 158px; text-align: center;"><strong>SCORE</strong></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="float: right; width: 120px;" cellpadding="5">
<tbody>
<tr style="height: 20px;">
<td style="width: 35px; height: 20px;">{{ name }}</td>
<td style="width: 61px; height: 20px; text-align: center;">IA</td>
</tr>
<tr style="height: 18px;">
<td style="width: 35px; height: 18px;">{{score['player']}}</td>
<td style="width: 61px; height: 18px;">{{score['IA']}}</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="width: 565px; height: 232px;">
<tbody>
<tr>
<td style="width: 555px;">{{ name }} chosed: {{choice}}</td>
</tr>
<tr>
<td style="width: 555px;">IA chosed: {{ia['IA']}}</td>
</tr>
<tr>
<td style="width: 555px;">winner is: {{winner}}</td>
</tr>
</tbody>
</table>




</body>
</html>